/** TABLE OF CONTENTS
 * CSS RESET
 * VARIABLE DECLARATION
 * GENERAL
 * HEADINGS 
 * WRAPPERS
 * ANIMATIONS
 */

/* 


#CSS-RESET 


*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 


#VARIABLE-DECLARATION 


*/

$font-size: 18px;
$h1-size: $font-size * 2;

/* 


#GENERAL-STYLEs 


*/

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* 


#HEADING-STYLES 


*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $font-size * 1.5;
}
/*


#WRAPPERS


*/

.section-masthead {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/fractal.png");
  background-repeat: no-repeat;
  .masthead-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .masthead-title {
      padding-top: 15vh;
      padding-left: 5vw;
      font-weight: bolder;
      font-size: $font-size * 5;
      color: #ffffff;
    }
    .masthead-subtitle {
      padding-left: 5vw;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: $font-size * 4;
      color: #ffffff;
    }
  }
}

/*


ANIMATIONS


*/

.typewriter-initial {
  overflow: hidden;
  border-right: 0.05em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typewriter-secondary {
  overflow: hidden;
  border-right: 0.05em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
