/** TABLE OF CONTENTS
 * CSS RESET
 * VARIABLE DECLARATION
 * GENERAL
 * HEADINGS 
 * WRAPPERS
 * ANIMATIONS
 */
/* 


#CSS-RESET 


*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 


#VARIABLE-DECLARATION 


*/
/* 


#GENERAL-STYLEs 


*/
p {
  font-weight: lighter;
  font-size: 1vw;
}

a:visited {
  color: #ebebeb;
}

/* 


#HEADING-STYLES 


*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 2vw;
}

h2 {
  font-weight: bolder;
  font-size: 1.5vw;
}

/*


#WRAPPERS


*/
body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url("../assets/fractal.png");
  background-repeat: no-repeat;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ebebeb;
}

body .masthead-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .masthead-container .masthead-text {
  padding-top: 15vh;
  padding-left: 5vw;
  max-height: 8vh;
}

body .masthead-container .masthead-text .masthead-title {
  font-weight: bolder;
  font-size: 5vw;
  color: #ebebeb;
}

body .masthead-container .masthead-text .masthead-subtitle {
  font-size: 4vw;
  font-weight: bolder;
  color: #ebebeb;
}

body nav {
  max-width: 45vw;
  padding-top: 3vh;
  font-size: 1.25vw;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ebebeb;
}

body nav .clicked-nav {
  font-size: 1.5vw;
  text-decoration: underline;
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

body .section-text {
  font-size: 2vw;
  color: #ebebeb;
  line-height: 4vw;
  text-shadow: 2px 2px #000000;
}

body .section-container {
  max-width: 60vw;
  max-height: 70vh;
  position: relative;
  left: 20vw;
  top: 10vh;
  padding: 2vw;
  border-radius: 2vw;
  background-color: #97979750;
}

body .invisible {
  display: none;
}

body .visible {
  display: block;
}

body .section-title {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

body .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .skill-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*


ANIMATIONS


*/
.typewriter-initial {
  overflow: hidden;
  border-right: 0.05em solid #e68a12;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  -webkit-animation: typing-title 3s steps(15, end) forwards, blink-caret 0.8s forwards 10;
          animation: typing-title 3s steps(15, end) forwards, blink-caret 0.8s forwards 10;
}

.typewriter-secondary {
  overflow: hidden;
  border-right: 0.05em solid #e68a12;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  -webkit-animation: typing-subtitle 5s steps(40, end) forwards, blink-caret 0.8s forwards 15;
          animation: typing-subtitle 5s steps(40, end) forwards, blink-caret 0.8s forwards 15;
}

.nav-fade-in {
  -webkit-animation: fade-in 2s ease-out forwards;
          animation: fade-in 2s ease-out forwards;
}

/* The typing effect */
@-webkit-keyframes typing-title {
  0% {
    opacity: 100%;
    width: 0;
  }
  45% {
    width: 100%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes typing-title {
  0% {
    opacity: 100%;
    width: 0;
  }
  45% {
    width: 100%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes typing-subtitle {
  0% {
    opacity: 100%;
    width: 0;
  }
  55% {
    width: 100%;
  }
  90% {
    opacity: 90%;
  }
  99% {
  }
  100% {
    opacity: 0%;
  }
}

@keyframes typing-subtitle {
  0% {
    opacity: 100%;
    width: 0;
  }
  55% {
    width: 100%;
  }
  90% {
    opacity: 90%;
  }
  99% {
  }
  100% {
    opacity: 0%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  100% {
    border-color: #e68a12;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  100% {
    border-color: #e68a12;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */